header {
  overflow: hidden;
}

.container {
  max-width: 1140px;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

/* Button */
#addBtn {
  background-color: #4592af;
  border-radius: 1rem;
  border: none;
}

#addBtn:hover {
  background-color: #226089;
}

/* Banner */
.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
    url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: brightness(50%);
}

/* Search bar */
.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px 30px;
  border: 0;
  margin-top: -200px;
  margin-left: -30px;
}

.search-bar .search-bar-outer h1 {
  color: white;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #4592af;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

/* form */
.form-label {
  margin-bottom: 0;
}

.required {
  color: rgb(212, 0, 0);
}

/* Dropdown button */
#dropdownBtn {
  margin-top: 5rem;
}

/* Card */
#data-panel {
  margin-top: 6rem;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon-edit {
  color: #4592af;
}

.icon-edit:hover {
  color: #226089;
}

.icon-delete {
  border: none;
  background-color: white;
  color: var(--bs-gray);
}

.icon-delete:hover {
  color: var(--bs-gray-dark);
}

/* Show page */
.showpage-banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  filter: brightness(50%);
}

.restaurant-showpage-title {
  text-align: center;
  font-size: 3rem;
}

.rounded-pill {
  padding: 1rem;
  border-radius: 1rem;
}

#showpage-rating {
  margin-top: -20px;
}

. @media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
